In [1]:
import pandas as pd

In [14]:
cliente = pd.read_csv('cliente.csv',sep = ";", encoding="utf-8")
empenho = pd.read_csv('empenho.csv',sep = ";", encoding="utf-8")
favorecido = pd.read_csv('favorecido.csv',sep = ";", encoding="utf-8")
metrica = pd.read_csv('metrica.csv',sep = ";", encoding="utf-8")
historicoMetrica = pd.read_csv('historicoMetrica.csv',sep = ";", encoding="utf-8")
pagamento = pd.read_csv('pagamento.csv',sep = ";", encoding="utf-8")

/home/slooock/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
metrica.shape

(30, 2)

In [60]:
metrica.head(2)

            descricao    id
0  Ensino fundamental  5908
1        Ensino médio  5913

In [39]:
historicoMetrica.head(2)

   idMetrica  codIBGE   ano valor
0       5908  2414902  2005   576
1       5908  2414902  2007   417

In [61]:
res1 = pd.merge(metrica, historicoMetrica, on=['id', 'idMetrica'])

KeyError: 'id'

In [65]:
# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1'],
		'Name':['Jai', 'Princi'], 
		'Age':[27, 24],} 

# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],} 

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1)

# Convert the dictionary into DataFrame 
df1 = pd.DataFrame(data2) 

df1
# print(df, "\n\n", df1)

  key Address
0  K0  Nagpur
1  K1  Kanpur

In [66]:
df

  key    Name  Age
0  K0     Jai   27
1  K1  Princi   24

In [67]:
res1 = pd.merge(df, df1, on=['key', 'key'])
res1

  key    Name  Age Address
0  K0     Jai   27  Nagpur
1  K1  Princi   24  Kanpur